.App {
  /* The background color that NES css uses */
  background-color: #212529;
  flex-grow: 1;
  height: 100%;
  /* Space left for content: 94 vw */
  padding-left: 3vw;
  padding-right: 3vw;
}

.display {
  width: calc(min(60vw, 80vh - 10vh));
  height: calc(min(60vw, 80vh - 10vh));
}
